<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding>
					<security mode="None">
						<message clientCredentialType="None"/>
						<transport clientCredentialType="None"></transport>
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="mexBehavior" name="ServerService.ServiceImplementation">
				<endpoint address="net.tcp://192.168.28.76:8081/AccountManager" binding="netTcpBinding"  contract="ServerService.IAccountManager"/>
				<endpoint address="net.tcp://192.168.28.76:8081/LobbyManager" binding="netTcpBinding" contract="ServerService.ILobbyManager"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://192.168.28.76:8082"/>
						<add baseAddress="net.tcp://192.168.28.76:8081"/>
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
	<connectionStrings>
		<add name="ExamExplotionDB" connectionString="data source=LaptopTlapa\SQLEXPRESS;initial catalog=ExamExplotionDB;user id=ExamUser;password=Exam#19_20!;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>