<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

	<log4net xmlns="http://logging.apache.org/log4net">
		<root>
			<level value="DEBUG"/>
			<appender-ref ref="RollingFileAppender"/>
			<appender-ref ref="SmtpAppender"/>
		</root>

		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/log.txt"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<maxSizeRollBackups value="5"/>
			<maximumFileSize value="10MB"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
			</layout>
		</appender>

		<appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
			<smtpHost value="smtp.gmail.com"/>
			<port value="587"/>
			<authentication value="Basic"/>
			<username value="explosionexam@gmail.com"/>
			<password value="lrntedutudwrnzwo"/>
			<enableSsl value="true"/>

			<from value="explosionexam@gmail.com"/>
			<to value="jesustlapahernandez@gmail.com"/>
			<subject value="Log de Error/Fatal en el server"/>
			<bufferSize value="1"/>
			<lossy value="false"/>

			<threshold value="ERROR"/>

			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %logger - %message%newline"/>
			</layout>
		</appender>
	</log4net>
	
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
		<netTcpBinding>
			<binding sendTimeout="00:01:30" receiveTimeout="00:01:30">
				<reliableSession enabled="true" inactivityTimeout="00:01:30" />
				<security mode="None">
					<message clientCredentialType="None" />
					<transport clientCredentialType="None" />
				</security>
			</binding>
		</netTcpBinding>


	</bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentSessions="100" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="mexBehavior" name="ServerService.ServiceImplementation">
        <endpoint address="LobbyManager" binding="netTcpBinding" contract="ServerService.ILobbyManager" />
        <endpoint address="AuthenticationManager" binding="netTcpBinding" contract="ServerService.IAuthenticationManager" />
		<endpoint address="GameManager" binding="netTcpBinding" contract="ServerService.IGameManager" />
		<endpoint address="PlayerManager" binding="netTcpBinding" contract="ServerService.IPlayerManager" />
		<endpoint address="ReportManager" binding="netTcpBinding" contract="ServerService.IReportManager" />
		<endpoint address="AccessoryManager" binding="netTcpBinding" contract="ServerService.IAccessoryManager" />
		  <endpoint address="FriendAndBlockListManager" binding="netTcpBinding" contract="ServerService.IFriendAndBlockList" />
		  <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8082" />
            <add baseAddress="net.tcp://localhost:8081" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<connectionStrings>
		<add name="ExamExplotionDBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=ExamExplotionDB;persist security info=True;user id=ExamUser;password=Exam#19_20!;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>