<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding>
          <reliableSession enabled="true" inactivityTimeout="00:10:00" />
          <security mode="None">
            <message clientCredentialType="None" />
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentSessions="100" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="mexBehavior" name="ServerService.ServiceImplementation">
        <endpoint address="net.tcp://localhost:8081/LobbyManager" binding="netTcpBinding" contract="ServerService.ILobbyManager" />
        <endpoint address="net.tcp://localhost:8081/AuthenticationManager" binding="netTcpBinding" contract="ServerService.IAuthenticationManager" />
		<endpoint address="net.tcp://localhost:8081/GameManager" binding="netTcpBinding" contract="ServerService.IGameManager" />
		<endpoint address="net.tcp://localhost:8081/PlayerManager" binding="netTcpBinding" contract="ServerService.IPlayerManager" />
		<endpoint address="net.tcp://localhost:8081/ReportManager" binding="netTcpBinding" contract="ServerService.IReportManager" />
		  <endpoint address="net.tcp://localhost:8081/AccessoryManager" binding="netTcpBinding" contract="ServerService.IAccessoryManager" />
		  <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8082" />
            <add baseAddress="net.tcp://localhost:8081" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

	<connectionStrings>
		<add name="ExamExplotionDBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LaptopTlapa\SQLEXPRESS;initial catalog=ExamExplotionDB;user id=ExamUser;password=Exam#19_20!;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>