<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ExamExplotionDa" connectionString="data source=localhost\\SQLEXPRESS;initial catalog=ExamExplotionDB;user id=ExamUser;password=Exam#19_20!;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>